.base { 
  composes: alert-bg-color from '../../styles/theme.css';
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0rem 0.2rem 0.4rem #bababa;
}

.visible {
  animation: 1s linear 0s forwards show-in;
}

.hidden {
  animation: 1s linear 0s forwards show-out;
}

@keyframes show-in {
  from {
    transform: translateY(-10rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes show-out {
  from {
    transform: translateY(0rem);
  }

  to {
    transform: translateY(-10rem);
  }
}